In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings(action='ignore')

### Dates in Python

In [2]:
from datetime import date 
two_hurricanes = [date(2016,10,7), date(2017,6,21)]
two_hurricanes

[datetime.date(2016, 10, 7), datetime.date(2017, 6, 21)]

In [3]:
print(two_hurricanes[0].year)
print(two_hurricanes[0].month)
print(two_hurricanes[0].day)

2016
10
7

In [4]:
two_hurricanes[1].weekday() # 0- monday ~ 6 = sunday

2

### Math with dates

In [5]:
d1 = date(2021,12,1)
d2 = date(2021,12,25)
d = [d1,d2]
d

[datetime.date(2021, 12, 1), datetime.date(2021, 12, 25)]

In [6]:
min(d)

datetime.date(2021, 12, 1)

In [7]:
(d2 - d1).days

24

In [8]:
# Timedelta 이벤트 사이의 경과시간을 제공 
from datetime import timedelta
td = timedelta(days = 5)
print(d2 + td)

2021-12-30

In [9]:
d = [date(2021,1,1),date(2021,3,1),date(2021,2,1)]
d

[datetime.date(2021, 1, 1),
 datetime.date(2021, 3, 1),
 datetime.date(2021, 2, 1)]

In [10]:
#날짜 정렬 
sorted(d)

[datetime.date(2021, 1, 1),
 datetime.date(2021, 2, 1),
 datetime.date(2021, 3, 1)]

### Turning dates into strings

In [11]:
# 국제표준 ISO 8601 format 형식
# 월과 일이 10보다 작을때 0으로 기록되므로 항상길이가 같다.

d = date(2021,11,5)
print(d)

2021-11-05

In [12]:
# YYYY-MM-DD 형식으로 제공된 date_string에 해당하는 date를 반환
d.isoformat()

'2021-11-05'

In [16]:
sd = ["2021-01-01", "2020-01-01"]

In [17]:
sorted(sd)  #ISO 8601 format을 사용하면 정렬가능

['2020-01-01', '2021-01-01']

In [18]:
# strftime 날짜형식을 지정하는데 사용하는 형식 문자열을 전달하도록 작동 
d.strftime('%Y')

'2021'

In [19]:
d.strftime('Year is %Y')

'Year is 2021'

In [21]:
print(d.strftime('%Y/%m/%d'))
print(d.strftime('%Y-%m-%d'))

2021/11/05
2021-11-05

In [22]:
d.strftime('%b (%Y)')

'Nov (2021)'

In [24]:
d.strftime('%Y-%j')  # YYYY-DDD

'2021-309'

### Dates and times

In [26]:
from datetime import datetime

In [30]:
dt = datetime(2021,10,1,15,23,25,500000)

In [31]:
dt_hr = dt.replace(minute = 3 , second = 0, microsecond = 0)
dt_hr

datetime.datetime(2021, 10, 1, 15, 3)