# Explicit indexes

In [20]:
import numpy as np
import pandas as pd

In [19]:
sample = pd.read_csv("Desktop/SampleSuperstore.csv")
sample.head(3)

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.96,2,0.0,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.94,3,0.0,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.62,2,0.0,6.8714

#### set_index()  - index 지정

In [10]:
sample.set_index("Country").head(3)

,Ship Mode,Segment,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
Country,,,,,,,,,,,,
United States,Second Class,Consumer,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.96,2,0.0,41.9136
United States,Second Class,Consumer,Henderson,Kentucky,42420,South,Furniture,Chairs,731.94,3,0.0,219.5820
United States,Second Class,Corporate,Los Angeles,California,90036,West,Office Supplies,Labels,14.62,2,0.0,6.8714

#### reset_index() - 인덱스를 재설정  
* drop =True 인수를 사용하면 인덱스를 삭제 할 수 있다.

In [12]:
sample.reset_index(drop = True).head(3)

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.96,2,0.0,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.94,3,0.0,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.62,2,0.0,6.8714

#### 멀티인텍스, hierarchical indexes (여러 인덱스 설정)

In [15]:
sample.set_index(["Country" , "State"]).head(3)

                             Ship Mode    Segment         City  Postal Code  \
Country       State
United States Kentucky    Second Class   Consumer    Henderson        42420
              Kentucky    Second Class   Consumer    Henderson        42420
              California  Second Class  Corporate  Los Angeles        90036

                         Region         Category Sub-Category   Sales  \
Country       State
United States Kentucky    South        Furniture    Bookcases  261.96
              Kentucky    South        Furniture       Chairs  731.94
              California   West  Office Supplies       Labels   14.62

                          Quantity  Discount    Profit
Country       State
United States Kentucky           2       0.0   41.9136
              Kentucky           3       0.0  219.5820
              California         2       0.0    6.8714