# Python Loops (while, for)

### While문
* 조건문이 참인 동안 while문 아래의 문장이 반복해서 수행됩니다.
 

while <조건문>:  
    <수행할 문장1>  
    <수행할 문장2>  
    <수행할 문장3>  
    ...

### while 문 생성

In [1]:
A = 3
while A :
    print(A)     
    A -=1

3
2
1

In [1]:
apple = 1

while apple < 2 :
    apple = apple + 1
    print('양이 적당합니다.')
    if apple == 2 :
        print('양이 많아요.')

양이 적당합니다.
양이 많아요.

In [2]:
# 구구단 2단  
num = 1

while num < 9 :
    num+=1
    print("2 x %d = %d " % (num , num*2))

2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

#### 자판기 커피 만들기

In [3]:
# 자판기의 커피 수량
coffee = 3

# 커피가 남아있는 동안 작동!
while coffee > 0:

    # 실제로는 자판기를 통해서 넣은 금액.
    money = int(input("금액을 입력해주세요 : "))
    
    if money == 300:
        # 실제로 이 파트는 자판기에서 커피를 뽑는 명령으로 대체된다.
        print("coffee") 
        # 이제 커피를 하나씩 줄인다.
        coffee -= 1

    elif money < 300:
        # 실제로 이 파트는 돈을 반환한다.
        print("%d원을 돌려줍니다." % money)
        
     
    else: # or elif money > 300:

        # 커피를 뽑아주고
        print("coffee")
        
        # 이제 커피를 하나씩 줄인다.
        coffee-=1
        
        # 거스름돈을 돌려준다.
        print("%d 거스름 돈을 돌려준다" % (money - 300))
    
    # 커피가 다 떨어진 경우 알려야한다.
print("커피가 모두 소진되었으니, 관리자에게 문의해주세요.")

금액을 입력해주세요 : 500
coffee
200 거스름 돈을 돌려준다
금액을 입력해주세요 : 300
coffee
금액을 입력해주세요 : 500
coffee
200 거스름 돈을 돌려준다
커피가 모두 소진되었으니, 관리자에게 문의해주세요.

###  Break 문
*break문은 반복문안에서 특정 조건에서 반복문을 중단 시키고 빠져나올때 사용합니다.

In [3]:
num = 1

while num < 10 :
    num+=1
    print(num)
    if num == 5 :
        print('그만해도 될거 같아요')
        break

2
3
4
5
그만해도 될거 같아요

### Continue 문
* continue문은 break문과 비슷하게 반복문을 빠져나오지만 반복문을 중단시키지 않고 다음 반복으로 넘어갑니다.

In [4]:
num = 0
while num < 5:
        num += 1
        if num == 3:
                continue
        print(num)

1
2
4
5

> 반복문이 실행되다가 continue를 만나면 그 아래의 코드를 수행하지 않고 while 문의 조건을 판단하는 곳으로 점프하게 됩니다. 따라서 다음 코드를 실행하면 num 값이 3일 때는 화면에 3가 출력되지 않은 채로 다시 while 문의 조건식으로 이동하게 되고 그다음 'num += 1'에 의해 num 값이 3에서 4으로 증가하게 됩니다.

### for 문
*파이썬에서는 for 문은 기본적으로 for 변수 in 목록: 형태로 작성  

>여기서 목록 부분에는 리스트(list), 튜플(tuple), 문자열(string), 반복자(iterator), 제너레이터(generator) 등 순회가 가능한 왠  만한 모든 데이터 타입을 사용할 수 있습니다. 변수 부분은 흔히 순회 변수(loop variable)라고 하는데,목록 부분에 넘긴 객체가 담고 있는 원소들이 루프가 도는 동안 하나씩 차례로 할당됩니다.

for 변수 in 목록():    
    수행할 문장1  
    수행할 문장2 
    ....

### for 문 생성

In [5]:
for letter in ['A','B','C'] :
    print(letter)

A
B
C

### 다양한 for 문

In [6]:
a = [(1,2), (3,4), (5,6)] # a 리스트의 요솟값이 튜플이기 때문에 각각의 요소가 자동으로 (first, last) 변수에 대입

for (first, last) in a:
         print(first + last)

3
7
11

In [6]:
house = [["hallway", 11.25],  # list of lists 요소 자동으로 변수에 대입
         ["kitchen", 18.0],     
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         

for n,h in house :
    print("the" +" "+  str(n) + " " +  "is" + " " +  str(h) + " " +  "sqm" )

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

In [7]:
# indexing으로 값 추출  

for x in house :
    print("the" + " " + x[0] + " " + "is" +" " + str(x[1]) + " " + "sqm")

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

### for문의 단짝 range() 함수

- for문은 특정 횟수동안 반복을 하기 때문에, 횟수를 자동으로 만들어주는 기능이 있으면 좋다.

- 파이썬에서 기본적으로 제공하는 range 함수는 특정 숫자 범위내의 값들을 자동으로 생성해주는 함수이다.


e.g. range(1, 5)는 1, 2, 3, 4를 차례대로 생성해준다. (5는 범위에서 제외된다. 즉, 마지막 숫자는 제외된다. 1 <= x < 5)

In [9]:
for i in range (5) :
    print(i)

0
1
2
3
4

####  6개의 커피 음료와 음료의 가격이 담긴 리스트가 있다. 오늘은 할인 행사를 하여 모든 음료가 500원 할인 되었다!

#### 가지고 있는 돈이 5,000원일 때 먹을 수 있는 모든 음료를 찾아보자!

In [18]:
coffees = ['아메리카노', '카페라떼', '카페모카', '바닐라라떼', '핸드드립', '콜드브루']
prices = [4100, 4600, 4600, 5100, 6000, 5000]


for i in range(len(prices)) :
    prices[i] = prices[i] - 500  # prices[] indexing을 이용해 요소값을 반환하고  - 500 
    
for i in range(len(coffees)) :
    if prices[i] - 500 <= 5000 :
        print(coffees[i])

아메리카노
카페라떼
카페모카
바닐라라떼
핸드드립
콜드브루

### list comprehension - 리스트[ 원소의 표현 , 반복문 , 조건문 ] 
* for 문을 간략하게 줄여 쓸 수 있는 강력한 도구

In [21]:
A = []

for x in range(1,10) :
    if x % 2 != 0 :
        A.append(x)
A

[1, 3, 5, 7, 9]

In [24]:
# list comprehension 적용

A1 = [x for x in range(1,10 ) if x % 2 != 0]
A1

[1, 3, 5, 7, 9]

In [25]:
L =[] 
for x in input("콤마를 기준으로 숫자를 여러개 입력해주세요 : ").split(','):
    x = int(x)
    L.append(x)
L

콤마를 기준으로 숫자를 여러개 입력해주세요 : 1,2,3

[1, 2, 3]

In [27]:
# listcomprehension 적용
L = [int(x) for x in input("콤마를 기준으로 숫자를 여러개 입력해주세요 : ").split(',')]
L

콤마를 기준으로 숫자를 여러개 입력해주세요 : 1,2,3

[1, 2, 3]

#### 위의 식 해석 :  원소가 input함수로 부터 입력받은 string 을 쉼표기준으로 split 해서 하나하나의 원소를 int 로 바꾼 원소를 갖는 리스트

### enumerate 함수 
* 기본적으로 인덱스와 원소로 이루어진 튜플(tuple)을 만들어줍니다.

In [9]:
for letter in enumerate(["A","B","C"],start = 1) :
    print(letter)

(1, 'A')
(2, 'B')
(3, 'C')

In [10]:
fam = [1.73, 1.68, 1.71, 1.89] 
for index, height in enumerate(fam) :
    print("person " + str(index) + ": " + str(height))

person 0: 1.73
person 1: 1.68
person 2: 1.71
person 3: 1.89

### items 함수  사용
* 딕셔너리 내장함수로 key와 value 값 같이 반환

In [11]:
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          

for k ,v in europe.items() :
    print("the capital of " + k +" " +"is" + "" + v)

the capital of spain ismadrid
the capital of france isparis
the capital of germany isberlin
the capital of norway isoslo
the capital of italy isrome
the capital of poland iswarsaw
the capital of austria isvienna

items() 함수를 통해 각 반복에서 key 와 value 값이 생성되어 오류없이 반환됩니다.

### NumPy  nditer 함수 사용

In [12]:
import numpy as np

In [13]:
arr = np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])

for y in np.nditer(arr):
    print(y)

1
2
3
4
5
6
7
8

### Pandas DataFrame iterrows 함수

In [14]:
import pandas as pd

In [15]:
df = pd.DataFrame(
    {'price': [100, 200, 300,400,500],
     'weight': [20.3, 15.1, 25.9, 30.2, 21.3]},
    index=['A', 'B', 'C','D','E'])
df

   price  weight
A    100    20.3
B    200    15.1
C    300    25.9
D    400    30.2
E    500    21.3

In [16]:
for lab , row in df.iterrows():
    print(lab)
    print(row)

A
price     100.0
weight     20.3
Name: A, dtype: float64
B
price     200.0
weight     15.1
Name: B, dtype: float64
C
price     300.0
weight     25.9
Name: C, dtype: float64
D
price     400.0
weight     30.2
Name: D, dtype: float64
E
price     500.0
weight     21.3
Name: E, dtype: float64

df.iterrows() 행(row)에 대해서 반복하면서 인덱스와 각 행별 데이터를 출력합니다.

### Pandas DataFrame iteritems 함수

In [17]:
for col,item in df.iteritems() :
    print(col)
    print(item)

price
A    100
B    200
C    300
D    400
E    500
Name: price, dtype: int64
weight
A    20.3
B    15.1
C    25.9
D    30.2
E    21.3
Name: weight, dtype: float64

dfiteritems() 열(col)에 대해서 반복하면서 열값과 행별 값을 출력합니다.