## Lambda functions and error-handling
> lambda 키워드 뒤에 인수이름을 지정 , 콜론뒤에 함수가 반환할 것을 지정하는 표현식을 사용합니다.

In [1]:
x = lambda x , y : x * y 
x(2,2)

4

In [2]:
add = lambda a : a + "!!!!"
add("Hello")

'Hello!!!!'

In [3]:
# 위의 함수식을 간단하게 람다로 표현
A = lambda x,y : x+y
A(1,3)

4

In [4]:
# 람다 표현식 자체를 호출  
# (lambda 매개변수들: 표현식)(인수들)

(lambda x ,y : x**y)(2,3)

8

In [5]:
x = "abcdef"

(lambda x : x[:3])(x)

'abc'

In [6]:
# 람다 표현식안에서는 변수 생성 못함 , 람다 표현식 밖에서 생성 필요

a  = 10
(lambda x : x+ a)(10)

20

### Map 함수
> Map (func(적용시킬함수) ,seq(적용할요소들)), Map함수는 시퀀스의 모든 elements에 함수를 적용한다.  
  변수명을 지정하지 않고도 람다 함수를 매핑에 전달할 수 있으며 이를 익명함수(anonymous fuctions)라고 한다.

In [7]:
n = [5,6,7,11]

s = map(lambda n: n + 2 ,n)
print(s) # map함수를 갖고 있는 변수명을 print하면 map객체임을 알 수 있다.

<map object at 0x000001807ADF5FA0>

In [8]:
print(list(s))

[7, 8, 9, 13]

In [9]:
L = [1,2,3,4,5]
result = []

for i in L : 
    result.append(i**2)
print(result)

[1, 4, 9, 16, 25]

In [10]:
# 위의 for문을 Map함수 사용해서 변환 

L = [1,2,3,4,5]
result = list(map(lambda x : x**2 , L))
print(result)

[1, 4, 9, 16, 25]

### filter() 
>  filter(func(적용시킬함수) ,seq(적용할요소들)) ,특정 조건으로 걸러서 걸러진 요소들로 iterator객체를 만들어서 리턴해준다.  
   map함수와 사용 방법은 동일하나, 함수의 결과가 참인지 거짓인지에 따라, 해당 요소를 포함할지를 결정한다.

In [6]:
fellowship = ['frodo', 'samwise', 'merry', 'pippin', 'aragorn', 'boromir', 'legolas', 'gimli', 'gandalf']

result = filter(lambda member : len(member) >6 ,fellowship)
result_list = list(result)

print(result_list)

['samwise', 'aragorn', 'boromir', 'legolas', 'gandalf']

### reduce()
>  reduce 함수를 사용하기 위해서는 from functools import reduce 사용해 인포트 해줘야한다.  
   reduce(func, iterable , initializer = None)  
   입력받은 iterable을 지정한 함수에 따라 계산한 후 단일 값으로 결과를 반환한다.

In [7]:
from functools import reduce

stark = ['123', 'one', 'two', 'three', '456']
result = reduce(lambda item1 ,item2 : item1 + item2 , stark)

print(result)

123onetwothree456

## Introduction to error handling

### Try , Except 
> try안에 있는 블록 수행중 오류가 발생하면 except블록이 수행된다.  
하지만 try 블록에서 오류가 발생하지 않는다면 except 블록은 수행되지 않는다.

In [8]:
def shout_echo(word1, echo=1):
    
    echo_word = ("")
    shout_words = ("")
    
    try:
        
        echo_word = echo * word1

        shout_words = echo_word + "!!!"
    except:
        
        print("word1 must be a string and echo must be an integer.")

    return shout_words

shout_echo("particle", echo="accelerator")

word1 must be a string and echo must be an integer.

''