## iterators(반복자)
iterable 객체 - 반복 가능한 객체(값을 차례대로 꺼낼 수 있는 객체)  
대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range  

iterable의 정의는 연관된 iter method가 있는 객체  
iter method가 iterable에 적용되면 iterator 객체가 생성  
iterator는 연속된 값을 생성하는 next method은 객체로 정의

In [6]:
ab = "ab"
it = iter(ab)
next(it)

'a'

In [7]:
next(it)

'b'

In [8]:
# * 를 사용하여 모든값 반환 
word = 'Data'
it = iter(word)
print(*it)
# 수행 후 반복할 값이 더 이상 없기 때문에 다시 수행 불가 , 재수행하기 위해서는 반복자 재정의 필요

D a t a

In [7]:
import os 
os.chdir('C://Users//my/Desktop//')

In [3]:
# Iterating over file connections
file = open('text.txt.txt')
it = iter(file)
print(next(it))

data

In [9]:
# enumerator 함수는 인자의 값을 추출 할 때 인덱스를 추출하는 기법
a = ["A","B","C","D"]
e = enumerate(a)
print(e)

<enumerate object at 0x000001950A5C6B40>

In [10]:
e_list = list(e)
print(e_list)

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]

In [11]:
for i, v in enumerate(a, start = 1) :
    print(i,v)

1 A
2 B
3 C
4 D

In [12]:
for i, v in enumerate(["A","B","C"]) :
    print(f"index: {i}, value: {v}")

index: 0, value: A
index: 1, value: B
index: 2, value: C

### iterable 내장함수

In [13]:
# zip 여러 개의 순회 가능한(iterable) 객체를 인자로 받아 동일한 개수로 이루어진 자료형을 묶어서 튜플의 형태로 반환
num = [1,2,3]
s = ["sun","rain","cloud"]

z  = zip(num ,s)
print(z)

<zip object at 0x000001950A77DF00>

In [14]:
z_list = list(z)
print(z_list)

[(1, 'sun'), (2, 'rain'), (3, 'cloud')]

In [15]:
for i,v in zip(num,s):
    print(i,v)

1 sun
2 rain
3 cloud

In [16]:
# 수행 후 반복할 값이 사라짐 
print(*z)

In [17]:
# zip함수를 활용해 dict 생성
num = [1,2,3]
s = ["sun","rain","cloud"]

dict_m = dict(zip(num, s))
print(dict_m)

{1: 'sun', 2: 'rain', 3: 'cloud'}

In [18]:
# enumerater와 zip 혼용
num = ["->","->","->"]
s = ["sun","rain","cloud"]

for i, (n,s) in enumerate(zip(num,s)) :
    print(i,n,s)

0 -> sun
1 -> rain
2 -> cloud

In [ ]:
# Using iterators to load large files into memory
result = [] # 빈리스트생성 

for c in pd.read_csv("df.csv",  chunksize = 1000) :   # 업로드할 데이텃이 너무 방대하면 chuck_size로 끊어서 가져올 row 지정 
    result.append( )

In [22]:
# all(iterable)은 iterable한 객체를 인수로 받으며, 인수의 원소가 모두 참이면 True, 거짓이 하나라도 있 으면 False를 return
print(all([1,2,3]))
print(all([0,1,2]))

True
False

In [25]:
# any(iterable)은 iterable한 객체를 인수로 받으며, 인수의 원소 중 하나라도 참이면 True, 모두 거짓일때만 False를 리턴, all의 반대
print(any([0, False , True]))

True

### itertools
반복연산 패키지로 자체 또는 조합되어 효율적이고 빠르게 동작하며 operator 모듈과 효과적으로 동작

In [26]:
import itertools

In [28]:
# count(시작, [step]) 의 함수로 시작 숫자부터 step만큼(없으면 1) 씩 무한히 증가하는 제네레이터
# count 는 반복하고자 하는 최대수를 미리 알지 않아도 되는 경우 사용
# islice(iterable객체, [시작], 정지[,step])의 함수로, iterable한 객체를 특정 범위로 슬라이싱하고 iterator로 반환됩니다.
from itertools import count ,islice

for i in islice(count(10,step = 2), 5) :
    print(i)

10
12
14
16
18

### List comprehensions
[ ( 변수를 활용한 값 ) for ( 사용할 변수 이름 ) in ( 순회할 수 있는 값 )]

In [2]:
# for 문 

empty_list = []
for i in range(1,11):
    empty_list.append(i)  

print(empty_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
# list comprehensions

em_list = [x for x in range(1,11)]
em_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
size  = 10
arr = [n for n in range(1,11) if n % 2 == 0]
print(arr)

[2, 4, 6, 8, 10]

In [10]:
# 다중 조건문 (두 if 문 사이에 and 를 명시하지 않아도 and 조건으로 계산 but and 를 명시해주면 오류발생 )
arr =  [n for n in range(1,20) if n & 2 ==0 if n & 5 ==0]
print(arr)

[8, 16]

In [11]:
#  if 문에서 or연산자로 논리 연산 , or 다중 if문에서 or 연산 안됨 
arr =  [n for n in range(1,20) if n & 2 ==0 or n & 5 ==0]
print(arr)

[1, 2, 4, 5, 8, 9, 10, 12, 13, 16, 17, 18]

In [12]:
a = [(n,n1) for n in range(0,2) for n1 in range(2,4)]
print(a)

[(0, 2), (0, 3), (1, 2), (1, 3)]

### Advanced comprehensions

In [15]:
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']


new_fellowship = [member if len(member) >= 7 else '' for member in fellowship]
print(new_fellowship)

['', 'samwise', '', 'aragorn', 'legolas', 'boromir', '']

In [16]:
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']


new_fellowship = { member:len(member) for member in fellowship }
print(new_fellowship)

{'frodo': 5, 'samwise': 7, 'merry': 5, 'aragorn': 7, 'legolas': 7, 'boromir': 7, 'gimli': 5}

In [13]:
# dict
d  = {n : -n for n in range(9)}
d

{0: 0, 1: -1, 2: -2, 3: -3, 4: -4, 5: -5, 6: -6, 7: -7, 8: -8}

In [22]:
# set 
n = {i * i for i in range(0,5)}
print(n)

{0, 1, 4, 9, 16}

### Introduction to generator expressions
제너레이터는 모든 값을 메모리에 담고 있지 않고 그때그때 값을 생성(generator)해서 반환하기 때문에

제너레이터를 사용할 때에는 한 번에 한 개의 값만 순환(iterate)할 수 있다.

In [17]:
[n**2 for n in range(1,3)]

[1, 4]

In [18]:
# generator는 메모리에 저장되지 않는다.
(n**2 for n in range(1,3))

In [19]:
n = (n for num in range(10) if num & 2 == 0)
print(list(n))

[<generator object <genexpr> at 0x0000022C5687EC10>, <generator object <genexpr> at 0x0000022C5687EC10>, <generator object <genexpr> at 0x0000022C5687EC10>, <generator object <genexpr> at 0x0000022C5687EC10>, <generator object <genexpr> at 0x0000022C5687EC10>, <generator object <genexpr> at 0x0000022C5687EC10>]

In [30]:
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']

lengths = (len(person) for person in lannister)

for value in lengths:
    print(value)

6
5
5
6
7

In [23]:
# generator function (return X yeield O)
def number(n):
    for i in range(n):
        yield i
        
number(5)

In [32]:
a = ["ABC", "ABCD","ABCDE"]

def number(l) :
    for i in l:
        yield len(i)

for v in number(a):
    print(v)

3
4
5