## iterators(반복자)
iterable 객체 - 반복 가능한 객체(값을 차례대로 꺼낼 수 있는 객체)  
대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range  

iterable의 정의는 연관된 iter method가 있는 객체  
iter method가 iterable에 적용되면 iterator 객체가 생성  
iterator는 연속된 값을 생성하는 next method은 객체로 정의

In [1]:
ab = "ab"
it = iter(ab)
next(it)

'a'

In [2]:
next(it)

'b'

In [3]:
# * 를 사용하여 모든값 반환 
word = 'Data'
it = iter(word)
print(*it)
# 수행 후 반복할 값이 더 이상 없기 때문에 다시 수행 불가 , 재수행하기 위해서는 반복자 재정의 필요

D a t a

In [4]:
# Iterating over file connections
file = open('text.txt.txt')
it = iter(file)
print(next(it))

data

In [5]:
# enumerator 함수는 인자의 값을 추출 할 때 인덱스를 추출하는 기법
a = ["A","B","C","D"]
e = enumerate(a)
print(e)

<enumerate object at 0x7f9579d06740>

In [6]:
e_list = list(e)
print(e_list)

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]

In [7]:
for i, v in enumerate(a, start = 1) :
    print(i,v)

1 A
2 B
3 C
4 D

In [8]:
for i, v in enumerate(["A","B","C"]) :
    print(f"index: {i}, value: {v}")

index: 0, value: A
index: 1, value: B
index: 2, value: C

### iterable 내장함수

In [9]:
# zip 여러 개의 순회 가능한(iterable) 객체를 인자로 받아 동일한 개수로 이루어진 자료형을 묶어서 튜플의 형태로 반환
num = [1,2,3]
s = ["sun","rain","cloud"]

z  = zip(num ,s)
print(z)

<zip object at 0x7f95683c2d40>

In [10]:
z_list = list(z)
print(z_list)

[(1, 'sun'), (2, 'rain'), (3, 'cloud')]

In [11]:
for i,v in zip(num,s):
    print(i,v)

1 sun
2 rain
3 cloud

In [12]:
# 수행 후 반복할 값이 사라짐 
print(*z)

In [13]:
# zip함수를 활용해 dict 생성
num = [1,2,3]
s = ["sun","rain","cloud"]

dict_m = dict(zip(num, s))
print(dict_m)

{1: 'sun', 2: 'rain', 3: 'cloud'}

In [14]:
# enumerater와 zip 혼용
num = ["->","->","->"]
s = ["sun","rain","cloud"]

for i, (n,s) in enumerate(zip(num,s)) :
    print(i,n,s)

0 -> sun
1 -> rain
2 -> cloud

In [15]:
# all(iterable)은 iterable한 객체를 인수로 받으며, 인수의 원소가 모두 참이면 True, 거짓이 하나라도 있 으면 False를 return
print(all([1,2,3]))
print(all([0,1,2]))

True
False

In [16]:
# any(iterable)은 iterable한 객체를 인수로 받으며, 인수의 원소 중 하나라도 참이면 True, 모두 거짓일때만 False를 리턴, all의 반대
print(any([0, False , True]))

True

### itertools
반복연산 패키지로 자체 또는 조합되어 효율적이고 빠르게 동작하며 operator 모듈과 효과적으로 동작

In [17]:
import itertools

In [18]:
# count(시작, [step]) 의 함수로 시작 숫자부터 step만큼(없으면 1) 씩 무한히 증가하는 제네레이터
# count 는 반복하고자 하는 최대수를 미리 알지 않아도 되는 경우 사용
# islice(iterable객체, [시작], 정지[,step])의 함수로, iterable한 객체를 특정 범위로 슬라이싱하고 iterator로 반환됩니다.

from itertools import count ,islice

for i in islice(count(10,step = 2), 5) :
    print(i)

10
12
14
16
18

### List comprehensions
[ ( 변수를 활용한 값 ) for ( 사용할 변수 이름 ) in ( 순회할 수 있는 값 )]

In [19]:
# for 문 

empty_list = []
for i in range(1,11):
    empty_list.append(i)  

print(empty_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
# list comprehensions

em_list = [x for x in range(1,11)]
em_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
size  = 10
arr = [n for n in range(1,11) if n % 2 == 0]
print(arr)

[2, 4, 6, 8, 10]

In [22]:
# 다중 조건문 (두 if 문 사이에 and 를 명시하지 않아도 and 조건으로 계산 but and 를 명시해주면 오류발생 )
arr =  [n for n in range(1,20) if n & 2 ==0 if n & 5 ==0]
print(arr)

[8, 16]

In [23]:
#  if 문에서 or연산자로 논리 연산 , or 다중 if문에서 or 연산 안됨 
arr =  [n for n in range(1,20) if n & 2 ==0 or n & 5 ==0]
print(arr)

[1, 2, 4, 5, 8, 9, 10, 12, 13, 16, 17, 18]

In [24]:
a = [(n,n1) for n in range(0,2) for n1 in range(2,4)]
print(a)

[(0, 2), (0, 3), (1, 2), (1, 3)]

### Advanced comprehensions
[output expression + conditional on output for iterator variable +_conditional on iterator]

In [25]:
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']


new_fellowship = [member if len(member) >= 7 else '' for member in fellowship]
print(new_fellowship)

['', 'samwise', '', 'aragorn', 'legolas', 'boromir', '']

In [26]:
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']


new_fellowship = { member:len(member) for member in fellowship }
print(new_fellowship)

{'frodo': 5, 'samwise': 7, 'merry': 5, 'aragorn': 7, 'legolas': 7, 'boromir': 7, 'gimli': 5}

In [27]:
# dict
d  = {n : -n for n in range(9)}
d

{0: 0, 1: -1, 2: -2, 3: -3, 4: -4, 5: -5, 6: -6, 7: -7, 8: -8}

In [28]:
# set 
n = {i * i for i in range(0,5)}
print(n)

{0, 1, 4, 9, 16}

### Introduction to generator expressions
제너레이터는 모든 값을 메모리에 담고 있지 않고 그때그때 값을 생성(generator)해서 반환하기 때문에

제너레이터를 사용할 때에는 한 번에 한 개의 값만 순환(iterate)할 수 있다.

In [29]:
[n**2 for n in range(1,3)]

[1, 4]

In [30]:
# generator는 메모리에 저장되지 않는다.
(n**2 for n in range(1,3))

In [31]:
n = (n for num in range(10) if num & 2 == 0)
print(list(n))

[<generator object <genexpr> at 0x7f956840e040>, <generator object <genexpr> at 0x7f956840e040>, <generator object <genexpr> at 0x7f956840e040>, <generator object <genexpr> at 0x7f956840e040>, <generator object <genexpr> at 0x7f956840e040>, <generator object <genexpr> at 0x7f956840e040>]

In [32]:
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']

lengths = (len(person) for person in lannister)

for value in lengths:
    print(value)

6
5
5
6
7

In [33]:
# generator function (return X yeield O)
def number(n):
    for i in range(n):
        yield i
        
number(5)

In [34]:
a = ["ABC", "ABCD","ABCDE"]

def number(l) :
    for i in l:
        yield len(i)

for v in number(a):
    print(v)

3
4
5

In [35]:
import numpy as np
import pandas as pd

df = pd.read_csv('world_ind_pop_data.csv')
df.head()

,CountryName,CountryCode,Year,Total Population,Urban population (% of total)
0,Arab World,ARB,1960,9.249590e+07,31.285384
1,Caribbean small states,CSS,1960,4.190810e+06,31.597490
2,Central Europe and the Baltics,CEB,1960,9.140158e+07,44.507921
3,East Asia & Pacific (all income levels),EAS,1960,1.042475e+09,22.471132
4,East Asia & Pacific (developing only),EAP,1960,8.964930e+08,16.917679

In [36]:
feature_names  = df.columns
row_vals = df.iloc[0].values

In [37]:
zipped_lists = zip(feature_names , row_vals)
rs_dict = dict(zipped_lists)

print(rs_dict)

{'CountryName': 'Arab World', 'CountryCode': 'ARB', 'Year': 1960, 'Total Population': 92495902.0, 'Urban population (% of total)': 31.2853842116054}

In [38]:
def lists2dict(list1, list2):
    """Return a dictionary where list1 provides
    the keys and list2 provides the values."""

    zipped_lists = zip(list1, list2)

    rs_dict = dict(zipped_lists)
    
    return rs_dict

rs_fxn = lists2dict(feature_names , row_vals)

print(rs_fxn)

{'CountryName': 'Arab World', 'CountryCode': 'ARB', 'Year': 1960, 'Total Population': 92495902.0, 'Urban population (% of total)': 31.2853842116054}

In [39]:
list_of_dict = [lists2dict(feature_names , sublist) for  sublist in df.values]

print(list_of_dict[0])
print(list_of_dict[1])

{'CountryName': 'Arab World', 'CountryCode': 'ARB', 'Year': 1960, 'Total Population': 92495902.0, 'Urban population (% of total)': 31.2853842116054}
{'CountryName': 'Caribbean small states', 'CountryCode': 'CSS', 'Year': 1960, 'Total Population': 4190810.0, 'Urban population (% of total)': 31.5974898513652}

In [40]:
# DataFrame 

df_list_of_dict = pd.DataFrame(list_of_dict)
df_list_of_dict.head()

,CountryName,CountryCode,Year,Total Population,Urban population (% of total)
0,Arab World,ARB,1960,9.249590e+07,31.285384
1,Caribbean small states,CSS,1960,4.190810e+06,31.597490
2,Central Europe and the Baltics,CEB,1960,9.140158e+07,44.507921
3,East Asia & Pacific (all income levels),EAS,1960,1.042475e+09,22.471132
4,East Asia & Pacific (developing only),EAP,1960,8.964930e+08,16.917679

### Processing data in chunks

In [41]:
# Open a connection to the file
with open('world_ind_pop_data.csv') as file:

    # Skip the column names
    file.readline()

    # Initialize an empty dictionary: counts_dict
    counts_dict = {}

    for j in range(0,300):

        # Split the current line into a list: line
        line = file.readline().split(',')

        # Get the value for the first column: first_col
        first_col = line[0]

        # If the column value is in the dict, increment its value
        if first_col in counts_dict.keys():
            counts_dict[first_col] += 1

        # Else, add to the dict and set value to 1
        else:
            counts_dict[first_col] = 1

print(counts_dict)

{'Arab World': 2, 'Caribbean small states': 2, 'Central Europe and the Baltics': 2, 'East Asia & Pacific (all income levels)': 2, 'East Asia & Pacific (developing only)': 2, 'Euro area': 2, 'Europe & Central Asia (all income levels)': 2, 'Europe & Central Asia (developing only)': 2, 'European Union': 2, 'Fragile and conflict affected situations': 2, 'Heavily indebted poor countries (HIPC)': 2, 'High income': 2, 'High income: nonOECD': 2, 'High income: OECD': 2, 'Latin America & Caribbean (all income levels)': 2, 'Latin America & Caribbean (developing only)': 2, 'Least developed countries: UN classification': 2, 'Low & middle income': 2, 'Low income': 2, 'Lower middle income': 2, 'Middle East & North Africa (all income levels)': 2, 'Middle East & North Africa (developing only)': 2, 'Middle income': 2, 'North America': 2, 'OECD members': 2, 'Other small states': 2, 'Pacific island small states': 2, 'Small states': 2, 'South Asia': 2, 'Sub-Saharan Africa (all income levels)': 2, 'Sub-Saharan Africa (developing only)': 2, 'Upper middle income': 2, 'World': 2, 'Afghanistan': 2, 'Albania': 2, 'Algeria': 2, 'American Samoa': 2, 'Andorra': 2, 'Angola': 2, 'Antigua and Barbuda': 2, 'Argentina': 2, 'Armenia': 2, 'Aruba': 2, 'Australia': 2, 'Austria': 2, 'Azerbaijan': 2, '"Bahamas': 2, 'Bahrain': 2, 'Bangladesh': 2, 'Barbados': 2, 'Belarus': 2, 'Belgium': 2, 'Belize': 2, 'Benin': 2, 'Bermuda': 2, 'Bhutan': 2, 'Bolivia': 2, 'Bosnia and Herzegovina': 2, 'Botswana': 1, 'Brazil': 1, 'Brunei Darussalam': 1, 'Bulgaria': 1, 'Burkina Faso': 1, 'Burundi': 1, 'Cabo Verde': 1, 'Cambodia': 1, 'Cameroon': 1, 'Canada': 1, 'Cayman Islands': 1, 'Central African Republic': 1, 'Chad': 1, 'Channel Islands': 1, 'Chile': 1, 'China': 1, 'Colombia': 1, 'Comoros': 1, '"Congo': 2, 'Costa Rica': 1, "Cote d'Ivoire": 1, 'Croatia': 1, 'Cuba': 1, 'Curacao': 1, 'Cyprus': 1, 'Czech Republic': 1, 'Denmark': 1, 'Djibouti': 1, 'Dominica': 1, 'Dominican Republic': 1, 'Ecuador': 1, '"Egypt': 1, 'El Salvador': 1, 'Equatorial Guinea': 1, 'Eritrea': 1, 'Estonia': 1, 'Ethiopia': 1, 'Faeroe Islands': 1, 'Fiji': 1, 'Finland': 1, 'France': 1, 'French Polynesia': 1, 'Gabon': 1, '"Gambia': 1, 'Georgia': 1, 'Germany': 1, 'Ghana': 1, 'Greece': 1, 'Greenland': 1, 'Grenada': 1, 'Guam': 1, 'Guatemala': 1, 'Guinea': 1, 'Guinea-Bissau': 1, 'Guyana': 1, 'Haiti': 1, 'Honduras': 1, '"Hong Kong SAR': 1, 'Hungary': 1, 'Iceland': 1, 'India': 1, 'Indonesia': 1, '"Iran': 1, 'Iraq': 1, 'Ireland': 1, 'Isle of Man': 1, 'Israel': 1, 'Italy': 1, 'Jamaica': 1, 'Japan': 1, 'Jordan': 1, 'Kazakhstan': 1, 'Kenya': 1, 'Kiribati': 1, '"Korea': 2, 'Kuwait': 1, 'Kyrgyz Republic': 1, 'Lao PDR': 1, 'Latvia': 1, 'Lebanon': 1, 'Lesotho': 1, 'Liberia': 1, 'Libya': 1, 'Liechtenstein': 1, 'Lithuania': 1, 'Luxembourg': 1, '"Macao SAR': 1, '"Macedonia': 1, 'Madagascar': 1, 'Malawi': 1, 'Malaysia': 1, 'Maldives': 1, 'Mali': 1, 'Malta': 1, 'Marshall Islands': 1, 'Mauritania': 1, 'Mauritius': 1, 'Mexico': 1, '"Micronesia': 1, 'Moldova': 1, 'Monaco': 1, 'Mongolia': 1, 'Montenegro': 1, 'Morocco': 1, 'Mozambique': 1, 'Myanmar': 1, 'Namibia': 1, 'Nepal': 1, 'Netherlands': 1, 'New Caledonia': 1, 'New Zealand': 1, 'Nicaragua': 1, 'Niger': 1, 'Nigeria': 1, 'Northern Mariana Islands': 1, 'Norway': 1, 'Oman': 1, 'Pakistan': 1, 'Palau': 1, 'Panama': 1, 'Papua New Guinea': 1, 'Paraguay': 1, 'Peru': 1, 'Philippines': 1, 'Poland': 1, 'Portugal': 1, 'Puerto Rico': 1, 'Qatar': 1, 'Romania': 1, 'Russian Federation': 1, 'Rwanda': 1, 'Samoa': 1, 'San Marino': 1, 'Sao Tome and Principe': 1, 'Saudi Arabia': 1, 'Senegal': 1, 'Seychelles': 1, 'Sierra Leone': 1, 'Singapore': 1, 'Slovak Republic': 1, 'Slovenia': 1, 'Solomon Islands': 1, 'Somalia': 1, 'South Africa': 1, 'South Sudan': 1, 'Spain': 1, 'Sri Lanka': 1, 'St. Kitts and Nevis': 1, 'St. Lucia': 1, 'St. Vincent and the Grenadines': 1, 'Sudan': 1, 'Suriname': 1, 'Swaziland': 1, 'Sweden': 1, 'Switzerland': 1, 'Syrian Arab Republic': 1, 'Tajikistan': 1, 'Tanzania': 1, 'Thailand': 1, 'Timor-Leste': 1, 'Togo': 1, 'Tonga': 1, 'Trinidad and Tobago': 1, 'Tunisia': 1, 'Turkey': 1, 'Turkmenistan': 1, 'Turks and Caicos Islands': 1, 'Tuvalu': 1, 'Uganda': 1, 'Ukraine': 1, 'United Arab Emirates': 1, 'United Kingdom': 1, 'United States': 1, 'Uruguay': 1, 'Uzbekistan': 1, 'Vanuatu': 1, '"Venezuela': 1, 'Vietnam': 1, 'Virgin Islands (U.S.)': 1, '"Yemen': 1, 'Zambia': 1, 'Zimbabwe': 1}

In [42]:
### lazy evaluation

def read_large_file(file_object):
    """A generator function to read a large file lazily."""

    # Loop indefinitely until the end of the file
    while True:

        # file_object = file 변수명 
        # 전체파일을 라인단위로 모두 읽어 그 결과 값으로 list를 반환
        data = file_object.readline()

        # Break if this is the end of the file
        if not data:
            break

        # Yield the line of data
        yield data
        
# Open a connection to the file
with open('world_ind_pop_data.csv') as file:

    # Create a generator object for the file: gen_file
    gen_file = read_large_file(file)

    print(next(gen_file))
    print(next(gen_file))
    print(next(gen_file))

CountryName,CountryCode,Year,Total Population,Urban population (% of total)

Arab World,ARB,1960,92495902.0,31.285384211605397

Caribbean small states,CSS,1960,4190810.0,31.5974898513652

In [43]:
counts_dict = {}

with open('world_ind_pop_data.csv') as file:

    # Iterate over the generator from read_large_file()
    for line in read_large_file(file):

        row = line.split(',')
        first_col = row[0]

        if first_col in counts_dict.keys():
            counts_dict[first_col] += 1
        else:
            counts_dict[first_col] = 1         
print(counts_dict)

{'CountryName': 1, 'Arab World': 55, 'Caribbean small states': 55, 'Central Europe and the Baltics': 55, 'East Asia & Pacific (all income levels)': 55, 'East Asia & Pacific (developing only)': 55, 'Euro area': 55, 'Europe & Central Asia (all income levels)': 55, 'Europe & Central Asia (developing only)': 55, 'European Union': 55, 'Fragile and conflict affected situations': 55, 'Heavily indebted poor countries (HIPC)': 55, 'High income': 55, 'High income: nonOECD': 55, 'High income: OECD': 55, 'Latin America & Caribbean (all income levels)': 55, 'Latin America & Caribbean (developing only)': 55, 'Least developed countries: UN classification': 55, 'Low & middle income': 55, 'Low income': 55, 'Lower middle income': 55, 'Middle East & North Africa (all income levels)': 55, 'Middle East & North Africa (developing only)': 55, 'Middle income': 55, 'North America': 55, 'OECD members': 55, 'Other small states': 55, 'Pacific island small states': 55, 'Small states': 55, 'South Asia': 55, 'Sub-Saharan Africa (all income levels)': 55, 'Sub-Saharan Africa (developing only)': 55, 'Upper middle income': 55, 'World': 55, 'Afghanistan': 55, 'Albania': 55, 'Algeria': 55, 'American Samoa': 55, 'Andorra': 55, 'Angola': 55, 'Antigua and Barbuda': 55, 'Argentina': 55, 'Armenia': 55, 'Aruba': 55, 'Australia': 55, 'Austria': 55, 'Azerbaijan': 55, '"Bahamas': 55, 'Bahrain': 55, 'Bangladesh': 55, 'Barbados': 55, 'Belarus': 55, 'Belgium': 55, 'Belize': 55, 'Benin': 55, 'Bermuda': 55, 'Bhutan': 55, 'Bolivia': 55, 'Bosnia and Herzegovina': 55, 'Botswana': 55, 'Brazil': 55, 'Brunei Darussalam': 55, 'Bulgaria': 55, 'Burkina Faso': 55, 'Burundi': 55, 'Cabo Verde': 55, 'Cambodia': 55, 'Cameroon': 55, 'Canada': 55, 'Cayman Islands': 55, 'Central African Republic': 55, 'Chad': 55, 'Channel Islands': 55, 'Chile': 55, 'China': 55, 'Colombia': 55, 'Comoros': 55, '"Congo': 110, 'Costa Rica': 55, "Cote d'Ivoire": 55, 'Croatia': 55, 'Cuba': 55, 'Curacao': 55, 'Cyprus': 55, 'Czech Republic': 55, 'Denmark': 55, 'Djibouti': 55, 'Dominica': 55, 'Dominican Republic': 55, 'Ecuador': 55, '"Egypt': 55, 'El Salvador': 55, 'Equatorial Guinea': 55, 'Eritrea': 55, 'Estonia': 55, 'Ethiopia': 55, 'Faeroe Islands': 55, 'Fiji': 55, 'Finland': 55, 'France': 55, 'French Polynesia': 55, 'Gabon': 55, '"Gambia': 55, 'Georgia': 55, 'Germany': 55, 'Ghana': 55, 'Greece': 55, 'Greenland': 55, 'Grenada': 55, 'Guam': 55, 'Guatemala': 55, 'Guinea': 55, 'Guinea-Bissau': 55, 'Guyana': 55, 'Haiti': 55, 'Honduras': 55, '"Hong Kong SAR': 55, 'Hungary': 55, 'Iceland': 55, 'India': 55, 'Indonesia': 55, '"Iran': 55, 'Iraq': 55, 'Ireland': 55, 'Isle of Man': 55, 'Israel': 55, 'Italy': 55, 'Jamaica': 55, 'Japan': 55, 'Jordan': 55, 'Kazakhstan': 55, 'Kenya': 55, 'Kiribati': 55, '"Korea': 110, 'Kuwait': 52, 'Kyrgyz Republic': 55, 'Lao PDR': 55, 'Latvia': 55, 'Lebanon': 55, 'Lesotho': 55, 'Liberia': 55, 'Libya': 55, 'Liechtenstein': 55, 'Lithuania': 55, 'Luxembourg': 55, '"Macao SAR': 55, '"Macedonia': 55, 'Madagascar': 55, 'Malawi': 55, 'Malaysia': 55, 'Maldives': 55, 'Mali': 55, 'Malta': 55, 'Marshall Islands': 55, 'Mauritania': 55, 'Mauritius': 55, 'Mexico': 55, '"Micronesia': 55, 'Moldova': 55, 'Monaco': 55, 'Mongolia': 55, 'Montenegro': 55, 'Morocco': 55, 'Mozambique': 55, 'Myanmar': 55, 'Namibia': 55, 'Nepal': 55, 'Netherlands': 55, 'New Caledonia': 55, 'New Zealand': 55, 'Nicaragua': 55, 'Niger': 55, 'Nigeria': 55, 'Northern Mariana Islands': 55, 'Norway': 55, 'Oman': 55, 'Pakistan': 55, 'Palau': 55, 'Panama': 55, 'Papua New Guinea': 55, 'Paraguay': 55, 'Peru': 55, 'Philippines': 55, 'Poland': 55, 'Portugal': 55, 'Puerto Rico': 55, 'Qatar': 55, 'Romania': 55, 'Russian Federation': 55, 'Rwanda': 55, 'Samoa': 55, 'San Marino': 55, 'Sao Tome and Principe': 55, 'Saudi Arabia': 55, 'Senegal': 55, 'Seychelles': 55, 'Sierra Leone': 55, 'Singapore': 55, 'Slovak Republic': 55, 'Slovenia': 55, 'Solomon Islands': 55, 'Somalia': 55, 'South Africa': 55, 'South Sudan': 55, 'Spain': 55, 'Sri Lanka': 55, 'St. Kitts and Nevis': 55, 'St. Lucia': 55, 'St. Vincent and the Grenadines': 55, 'Sudan': 55, 'Suriname': 55, 'Swaziland': 55, 'Sweden': 55, 'Switzerland': 55, 'Syrian Arab Republic': 55, 'Tajikistan': 55, 'Tanzania': 55, 'Thailand': 55, 'Timor-Leste': 55, 'Togo': 55, 'Tonga': 55, 'Trinidad and Tobago': 55, 'Tunisia': 55, 'Turkey': 55, 'Turkmenistan': 55, 'Turks and Caicos Islands': 55, 'Tuvalu': 55, 'Uganda': 55, 'Ukraine': 55, 'United Arab Emirates': 55, 'United Kingdom': 55, 'United States': 55, 'Uruguay': 55, 'Uzbekistan': 55, 'Vanuatu': 55, '"Venezuela': 55, 'Vietnam': 55, 'Virgin Islands (U.S.)': 55, '"Yemen': 55, 'Zambia': 55, 'Zimbabwe': 55, 'Serbia': 25, 'West Bank and Gaza': 25, 'Sint Maarten (Dutch part)': 17}