#### [Errno 2] No such file or directory: 
> 위의 에러는 파일을 불러올때 파일 디렉토리와 현재 사용하는 주피터 안의 디렉토리가 상이해서 발생하거나   
  디렉토리 설정이 잘못되었을때 나옵니다.

> import os 
  os.getcwd() - 현재 작업 디렉토리를 문자열로 반환 (확인)  
  os.getchdir() - 현재 작업 디렉토리 위치를 지정한 path로 변경 (파라미터로 불러올 파일 디렉토리 넣어줌)  
  os.listdir() - 현재 디렉토리의 파일들을 리스트로 반환

In [1]:
import os
import pandas as pd

In [2]:
os.getcwd()

'C:\\Users\\my\\Downloads'

In [3]:
os.chdir('C:\\Users\\my')

In [4]:
os.getcwd()

'C:\\Users\\my'

In [7]:
pd.read_csv("temp_2021.csv")

                  date  temperature  rain  wind  moisture
0      2021-10-01 0:01         19.2   0.0   1.1      83.2
1      2021-10-01 0:02         19.2   0.0   1.1      83.5
2      2021-10-01 0:03         19.1   0.0   1.1      83.9
3      2021-10-01 0:04         19.1   0.0   1.2      83.5
4      2021-10-01 0:05         19.1   0.0   1.1      84.3
...                ...          ...   ...   ...       ...
31718  2021-10-23 0:55          8.6   0.0   0.5      65.3
31719  2021-10-23 0:56          8.6   0.0   0.3      64.6
31720  2021-10-23 0:57          8.6   0.0   0.1      64.9
31721  2021-10-23 0:58          8.6   0.0   0.0      65.0
31722  2021-10-23 0:59          8.6   0.0   0.0      64.7

[31723 rows x 5 columns]