# Python List(리스트)
* List란  순서가 있는 수정 가능한 객체의 집합입니다.
* 수정가능한 객체를 mutable 이라고 한다. set, dictionary, list etc

>  연속형 데이터 (Sequential Data Types)
* 연속형 데이터란, 하나의 변수가 하나의 데이터를 가지고 있던 숫자형 데이터와 달리, 여러개의 데이터를 하나의 변수에 가지고 있는 데이터 타입이다.  

* 연속형 데이터 타입에는 리스트(List), 튜플(Tuple), 문자열(String)이 있다. (문자열을 문자들의 나열로 인식하기 때문에, 연속형 데이터이다.)

### List객체 생성

In [1]:
NUM = [1,2,3,4,5,6]
Str = ['A','B','C','D']
W   = [1,2,'A','B']
X   = [1,2,['A','B']]

##### 리스트를 만들 때는 위에서 보는 것과 같이 대괄호([ ])로 감싸 주고 각 요 솟값은 쉼표(,)로 구분해 줍니다. 

###### W 변수처럼 여러가지 type 함께 사용 가능하고 X처럼 리스트 자체를 요솟값으로 가질 수도 있습니다.

### List 인덱싱 
* 문자열 에서 인덱싱 적용 메커니즘과 같이 list에서도 적용

In [2]:
A = [1,2,3,4,5]

print(A[0]) # A [0]은 리스트 a의 첫 번째 요 솟값을 말합니다. 

print(A[-1]) # A [-1] 은 마지막 요 솟값을 말합니다.

1
5

#### 실제 분석에서는 아래와 같은 인덱싱을 할 경우는 없지만 연습하는 의도로  'Hellow' 값 찾기

In [3]:
B = [1, 2, [3,4] , [5, [100, 200, ["Hellow"] ], 23, 11], 1, 7]
B[3][1][2][0]

'Hellow'

풀이 B[3] = [5,  [100, 200 , [ ‘Hellow’ ] ]  

     B[3][1] = [100, 200 , [ ‘Hellow’ ] ]  

     B[3][1][2][0] = [ ‘Hellow’ ]

### List의 슬라이싱

In [4]:
A = [1,2,3,4,5]
A[0:2]

[1, 2]

A [0:2] 은 A [0]과 A [1]까지의 요 솟값을 반환하라는 의미입니다.

In [5]:
A = [1,2,3,4,5]
print(A[:3])

print(A[3:])

[1, 2, 3]
[4, 5]

A [ : 3] 은 리스트 A의 첫 번째 요소부터 세 번째 요소인 a [2]까지 나타내는 리스트입니다.

A [3: ]  은 리스트 A의 두 번째 요소부터 끝까지 나타내는 리스트입니다.

### List 요소 값 변경, 삭제 하기

In [7]:
# 'footall'을 'football'로 인덱싱을 사용해 변경

A = ['Kim Yeon-Koung','volleyball','Son Heung-min','footall']
A[3] = 'football'

print(A)

['Kim Yeon-Koung', 'volleyball', 'Son Heung-min', 'football']

A [3] 요 솟값이 'football'로 변경되었습니다.

In [8]:
# 요솟값 추가하기
A = ['Kim Yeon-Koung', 'volleyball', 'Son Heung-min', 'football']
B = A + ['Shin Yubin','pingpong'] 
print(B)

['Kim Yeon-Koung', 'volleyball', 'Son Heung-min', 'football', 'Shin Yubin', 'pingpong']

['Shin Yubin' , 'pingpong']  요솟값이 추가된 것을 볼 수 있습니다.

### del 함수를 이용해 요솟값 삭제

In [9]:
B = ['Kim Yeon-Koung', 'volleyball', 'Son Heung-min', 'football', 'Shin Yubin', 'pingpong']
del(B[4:])
print(B)

['Kim Yeon-Koung', 'volleyball', 'Son Heung-min', 'football']

B [4 : ] 요 솟값인 ['Shin Yubin' , 'pingpong']  삭제된 것을 볼 수 있습니다.

### remove 함수 사용하여 요솟값 제거

In [10]:
A = [1,2,3,4,1,1]
A.remove(1)

A

[2, 3, 4, 1, 1]

### clear 함수 이용해  빈 list를 반환

In [11]:
A.clear()

A

[]

### List 함수들
* 리스트에 요소 추가(append) - 리스트의 마지막에 인자로 전달된 아이템을 추가합니다.

In [12]:
list = [2, 9, 3]
list.append('a')  

print(list)

[2, 9, 3, 'a']

* 리스트 확장 extend(iterable) - 인자로 전달된 iterable의 모든 아이템을 리스트에 추가합니다.

In [13]:
list = [2, 9, 3] 
list2 = [1, 2, 3]

list.extend(list2) 

print(list)

[2, 9, 3, 1, 2, 3]

* 리스트에 요소 삽입 insert(index, item)은 인자로 전달된 index의 위치에 item을 추가합니다.

In [14]:
list = [2, 9, 3] 
list.insert(0, 'a') 
 
print(list)  # list[0]위치에 'a' 값 삽입

['a', 2, 9, 3]

* 리스트에 포함된 ( x ) 값이 list안에 몇 개 있는지 count

In [15]:
A = [1,2,3,1,1]

A.count(1)

3

* 리스트에 (index)  index 위치 반환

In [16]:
A = ['Kim Yeon-Koung', 'volleyball', 'Son Heung-min', 'football']

A.index('Kim Yeon-Koung')

0

* 리스트 정렬(sort)  list안에 값을 ascending으로 정렬

In [17]:
A = [1,5,3,2,4]
A.sort()

print(A)

[1, 2, 3, 4, 5]

* 리스트 뒤집기 (reverse)  lilst 값 반대로 정렬

In [18]:
A = ['a','b','c']
A.reverse()

A

['c', 'b', 'a']

* 리스트 Pop   리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제한다.

In [19]:
a = [1,2,3]
a.pop()
3

a

[1, 2]